body {
    width: auto;
    height: 100vh;
    background: url('kepek/feher.jpg') no-repeat center;
    background-size: cover;
    color: #333;
    font-family: 'Anton', sans-serif;  
}

h1{
font-stretch: semi-expanded;
color: rgba(0, 0, 0, 0.692);
}



.kicsi{
font-size: 20px;
text-align: center;
height: 600px;
width: 400px;
background-color: rgba(196, 158, 102, 0.76);
box-shadow: rgba(0, 0, 0, 0.8) 10px 10px 80px;
float: left;
}

.icon{
color: rgb(0, 0, 0);
font-size: 50px;
margin: 10%;
}

.kicsi2
{height: 600px;
width: 400px;
float: right;
}

section{
padding-left: 543px;
padding-right: 543px;
}